.git
.env
.env.*
auth.json
vendor
node_modules
tests
phpunit.xml
*.log
**/*.sqlite*
**/*.db
bootstrap/cache/*
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/*
